@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
}

.card {
  width: auto;
  height: auto;
  padding: 12px 4px 12px 4px;
  margin: 40px 12px 40px 12px;
}

.cardTitle {
  color: rgba(0, 0, 0, 0.9);
}

.cardText {
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.App {
  text-align: center;
  display: grid;
  display: inline block;
  font-family: "Roboto Mono", monospace;
  background-color: rgba(2, 3, 12, 0.9);
}

.projects {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title" "cell1 cell2 cell3 cell4";
}

.projectTitle {
  display: grid;
  grid-area: title;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
}

.carouselCaption {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title" "cell1 cell2 cell3 cell4";
  height: 400px;
}
