@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
}

.codeImage {
  max-width: 50%;
  height: auto;
  align-self: center;
}

.card {
  width: auto;
  height: auto;
  padding: 2px 2px 2px 2px;
  margin: 10px 8px 10px 8px;
  background-color: rgba(178, 0, 0, 0.6);
}

.cardTitle {
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  color: rgba(178, 0, 0, 0.9);
}

.cardText {
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 900;
}

.App {
  text-align: center;
  display: grid;
  display: inline block;
  font-family: "Roboto Mono", monospace;
  background-color: rgba(2, 3, 12, 0.9);
}

.projects {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title" "cell1 cell2 cell3 cell4";
}

.projectTitle {
  display: grid;
  grid-area: title;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  font-size: 48px;
}

.carouselCaption {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title" "cell1 cell2 cell3 cell4";
  height: 400px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(178, 0, 0, 0.9);
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  letter-spacing: 1px;
}
